body {
    font-family: sans-serif;
    display:block;
    position:fixed:
    background-color: rgb(80, 80, 80);
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}

#canvas {
    display:block;
    position:fixed:
}

#canvasBG {
    background-color:rgb(50, 50, 50);
}

#sideBar {
    background-color:rgb(200, 200, 200);
    background-image: -webkit-gradient(linear, left bottom, right bottom, 
        from(rgb(200, 200, 200)),
        to(rgb(180, 180, 180))
    ); 
    width:325px;
    height:100%;
    top:0px;
    right:0px;
    box-shadow: 0px 0px 30px 5px #000;
    overflow:auto;
}
#logo {
    font-size:30px;
    top:10px;
    right:50px;
}

#nodeSizeLabel1 {
    top:70px !important;
    right:25px !important;
    width:200px !important;
    height:10px !important;
    font-size:12px;
}
#nodeSizeSlider1 {
    top:80px !important;
    left:25px !important;
    width:200px !important;
    height:10px !important;
}

#edgeSizeLabel1 {
    top:130px !important;
    right:25px !important;
    width:200px !important;
    height:10px !important;
    font-size:12px;
}
#edgeSizeSlider1 {
    top:150px !important;
    left:25px !important;
    width:200px !important;
    height:10px !important;
}

.top {
    position: absolute;
    z-index:1 !important;
}
.font1 {
    font-size:14px;
}

#edgeType {
    top:180px !important;
    right:25px !important;
    width:275px !important;
    height:25px !important;
}

#graphDefLabel {
    top:300px !important;
    right:25px !important;
    width:275px !important;
    height:25px !important;
}
#graphDef {
    top:325px !important;
    right:25px !important;
    width:275px !important;
    height:300px !important;
    margin-bottom:10px;
}

#edgeColorWrap {
    top:220px !important;
    right:25px !important;
}
#nodeColorWrap {
    top:250px !important;
    right:25px !important;
}

#spacer {
    top:650px !important;
    right:25px !important;
    height: 10px;
}

